.header {
    display: flex;
    align-items: center;
    gap: 59px;
    justify-content: space-between;
}

.wrapper-navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-menu {
    justify-content: space-between;
    display: flex;
    align-items: center;
    gap: 32px;
}

.nav-link {
    color: #939CAA;
    font-family: "Space Mono";
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: 25px;
}

.nav-btn {
    color: #FFF;
    text-align: center;
    font-family: "Space Mono";
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: 25px;
    background: #FCB72B;
    padding: 14px 39px;
}