.site-footer {
    max-width: 100%;
    height: 300px;
    background: #495567;
}

.footer-item{
    padding-top: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px
}

.footer-wrapper {
    width: 415px;
}

.footer-wrap{
    display: flex;
    gap: 33px;
}

.footer-title {
    color: #FFF;
    font-family: "Space Mono";
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: -2.143px;
}

